name: CI/CD Demo

#learning ci/cd with github actions
# Trigger workflow on push to main branch
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Print message
        run: echo "CI/CD WORK HAS BEEN Started SUCCESSFULLY"
